In [59]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

In [60]:
# store results from part 1 into a dataframe

city_data_df = pd.read_csv("../WeatherPy/city_dataframe.csv")

city_data_df.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temperature,Wind Speed
0,0,Ilulissat,23,GL,1578456824,53,69.22,-51.10,-2.20,12.75
1,1,Yerbogachen,99,RU,1578456824,94,61.28,108.01,7.54,8.57
2,2,Albany,90,US,1578456824,84,42.65,-73.75,33.01,2.71
3,3,Kaitangata,100,NZ,1578456824,71,-46.28,169.85,59.00,5.99
4,4,Petropavlovsk-Kamchatskiy,100,RU,1578456824,49,53.05,158.65,23.00,2.24

In [61]:
# humidity heatmap

# configure gmaps

gmaps.configure(api_key=g_key)

# use lat and long as locations and humidity as weight

locations = city_data_df[["Latitude", "Longitude"]]
weight = city_data_df["Humidity"]

# add heat map layer to map

fig = gmaps.figure(zoom_level = 2, center =[0,0])

heat_layer = gmaps.heatmap_layer(locations, weights=weight, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 3.0)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [62]:
# narrow down data to fit conditions, create dataframe

narrowed_df = city_data_df.loc[(city_data_df["Max Temperature"] < 80) & 
                               (city_data_df["Max Temperature"] > 70) & 
                               (city_data_df["Wind Speed"] < 10) & 
                               (city_data_df["Cloudiness"] == 0)]

narrowed_df

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temperature,Wind Speed
41,41,Port Lincoln,0,AU,1578456828,39,-34.72,135.86,79.63,9.66
92,92,Bonthe,0,SL,1578456833,79,7.53,-12.50,76.62,6.33
96,96,Planeta Rica,0,CO,1578456834,88,8.41,-75.58,78.80,7.14
101,101,Cidreira,0,BR,1578456834,71,-30.17,-50.22,74.43,8.55
167,167,Moron,0,HT,1578456841,76,18.56,-74.26,77.00,9.89
198,198,San Patricio,0,PY,1578456843,31,-26.98,-56.83,71.42,4.00
397,397,Chiang Khong,0,LA,1578456858,83,20.27,100.41,75.99,3.36
411,411,Tabuk,0,PH,1578456860,71,17.41,121.44,79.39,2.06
466,466,Ampanihy,0,MG,1578456864,81,-24.69,44.75,73.96,3.71
539,539,San Rafael,0,AR,1578456870,32,-34.61,-68.33,75.96,9.08

In [92]:
# create a df that adds a column for the nearest hotel within 5000 meters, store as hotel df

hotel_df = narrowed_df

hotel_df["Hotel Name"] = ""

target_search = "Hotel"
coords = "-34.72, 135.86"
        
          

# redefine params
params = {
    "location": coords,
    "keyword": target_search,
    "radius": 5000,
    "key": g_key
}

# Build URL using the Google Maps API
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"


# Run request
hotel_name = requests.get(base_url, params).json()
   

# Print the name and address of the first hotel that appears
print(hotel_name["results"][0]["name"])
print(hotel_name["results"][0]["vicinity"])

hotel_df

C:\Users\shawn\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

Port Lincoln Hotel
1 Lincoln Hwy, Port Lincoln

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temperature,Wind Speed,Hotel Name
41,41,Port Lincoln,0,AU,1578456828,39,-34.72,135.86,79.63,9.66,
92,92,Bonthe,0,SL,1578456833,79,7.53,-12.50,76.62,6.33,
96,96,Planeta Rica,0,CO,1578456834,88,8.41,-75.58,78.80,7.14,
101,101,Cidreira,0,BR,1578456834,71,-30.17,-50.22,74.43,8.55,
167,167,Moron,0,HT,1578456841,76,18.56,-74.26,77.00,9.89,
198,198,San Patricio,0,PY,1578456843,31,-26.98,-56.83,71.42,4.00,
397,397,Chiang Khong,0,LA,1578456858,83,20.27,100.41,75.99,3.36,
411,411,Tabuk,0,PH,1578456860,71,17.41,121.44,79.39,2.06,
466,466,Ampanihy,0,MG,1578456864,81,-24.69,44.75,73.96,3.71,
539,539,San Rafael,0,AR,1578456870,32,-34.61,-68.33,75.96,9.08,